@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--preto);
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}